/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* 
Colors
#3d5ff4 Dark blue
#028894 light blue
#727a8c grey
#c1e2d7 light green
#71dbb8 dark green
*/ 

body{
font-family: "Baskerville", Baskerville Old Face, Georgia, serif;
max-width: 1500px;
height: 100%;
margin :0 auto;
background: -moz-radial-gradient(50% 85%, farthest-corner, #d0e6fc, #b1d7f5);
}

header{
height: 138px;
background:#aaa;
overflow: hidden;
background:url(../images/hdrbg.jpg);
}

#ticker{
background:-moz-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1)); 
height: 40px;
overflow: hidden;
}

h1{
font-size: 1em;
position: relative;
right: 9000px;
}

h5{
width: 50%;
font: 1.875em Corbel;
color: #fff;
text-shadow: 0 1px 2px #333;
padding: 0 0 .2929688% 0;/* 3px */
display: block;
position: relative;
float: left;
/*firefox*/
-moz-animation: ticker 15s ease-in-out infinite;
-moz-animation-delay: 1s;
/*safari chrome
-webkit-animation: ticker 4s infinite;
-webkit-animation-delay: 1s;*/
}

#search{
float: right;
padding: .333333%; /*5px */
font: 1.25em Corbel;
}

#search input{
color: #aaa;
height: 25px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border: none;
background: rgba(0, 0, 0, .3);
box-shadow: inset 1px 1px 1px #333;
}

#search input:focus{
background: rgba(0, 0, 0, .6);
}

#search input[type=submit]{
color: #000;
height: 25px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
background: url(../images/mglass.png) center no-repeat, rgba(255, 255, 255, .8);
position: relative;
right: 4px;
top: 1px;
}

#search input[type=submit]:hover{
background: url(../images/mglass.png) center no-repeat, rgba(255, 255, 255, .6);
}

nav{
height: 40px;
background:-moz-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));
overflow: hidden;
}

ul{
width:75%;
margin: 0 auto;
padding: 0;
overflow: hidden;
}

li{
width: 16.666667%;
float: left;
}

/* color links
#home{
background:-moz-linear-gradient(rgba(212,119,120,1), rgba(192,89,90,1));
border-top-left-radius: 10px;
box-shadow: 1px 0 3px #333;
}

#parents{
background:-moz-linear-gradient(rgba(229,189,138,1), rgba(216,171,114,1));
}

#staff{
background:-moz-linear-gradient(rgba(117,94,58,1), rgba(100,76,39,1));
}

#students{
background:-moz-linear-gradient(rgba(197,216,169,1), rgba(178,201,145,1));
}

#news{
background:-moz-linear-gradient(rgba(111,164,211,1), rgba(86,142,191,1));
}

#policies{
background:-moz-linear-gradient(rgba(253,247,201,1), rgba(254,244,168,1));
border-top-right-radius: 10px;
}
*/

a{
font: 1.25em bold Corbel, Arial;
line-height: 40px;
color: #fff;
text-shadow: 0px -1px 1px #333,
-2px -1px 1px #333;
text-decoration: none;
text-align: center;
display: block;
}

a:hover{
background: rgba(0,0,0,.1); /*#028894;*/
color: #fff;
}

a:active{
 background: rgba(0, 0, 0, 0.3);
 }
 
 .clearfix{
clear: left;
}

/*
-----------------Main Content---------------*/

#content{
max-width: 1000px;
margin: 0 auto;
}

#generic{
height: 600px;
}

#main{
padding: 2% 0;
/*background-image: url(../images/manatees.jpg);*/
}

#logo{
margin: 0 auto;
padding: 0 2.5%;
position: relative;
/*-moz-animation: logomove 5s;*/
}

#girl1, #girl3{
-moz-transform: rotate(5deg);
}

#girl2, #boy{
-moz-transform: rotate(-5deg);
}

h2{
font-size: 2.625em;
text-align: center;
color: rgba(32,79,149,1);
padding: 4% 9.765625%;/* 10px 100px */
text-shadow: 0px -1px 1px #fff;
}

p{
font: 1.875em Corbel;
margin-bottom: 0.9765625%;
padding: 0 0.9765625%;
color: #333;
}

#secondary{
clear: left;
/*overflow: hidden;*/
padding: 1% 0;
}

h3{
font-size:2em;
}

#history{
width: 33.333333%;
height: 390px;
float: left;
background: -moz-linear-gradient(rgba(193, 226, 215, 0.5), rgba(225, 225, 225, 0.5));
/*padding:.15% 0;*/
text-align: center;
}

#history h3{
background: #28b3bf;
box-shadow: 0 1px 2px #333;
text-shadow: 0 0 2px #eee;
padding: 1% 0;
} 

#history p{
text-align: left;
font: 1em Corbel;
padding: 2%;
color: #000;
text-shadow: 0 0 1px #eee;
}

#facts{
width: 33.333333%;
height: 390px;
float: left;
background: -moz-linear-gradient(rgba(113, 219, 189, 0.5), rgba(225, 225, 225, 0.5));
text-align: center;
}

#facts h3{
background: #c1e2d7;
box-shadow: 0 1px 2px #333;
text-shadow: 0 0 2px #eee;
padding: 1% 0;
} 

table{
margin: 1.3020833% auto;
font: 1em Corbel; 
text-shadow: 0 0 1px #eee;
}

td{
text-align: left;
padding: 1% 8%;
}

#directions{
width: 33.333333%;
height: 390px;
background: -moz-linear-gradient(rgba(40, 179, 191, 0.5), rgba(225, 225, 225, 0.5));
float: right;
text-align: center;
}

#directions h3{
background: #71dbb8;
box-shadow: 0 1px 2px #333;
text-shadow: 0 0 2px #eee;
padding: 1% 0;
} 

#directions p{
font:1em Corbel;
padding: 2%;
text-align: left;
color: #000;
text-shadow: 0 0 1px #eee;
/*padding: 1.5% 0;*/
}

#directions a{
color: #fff;
text-shadow: 0 0 1px #333;
}

#directions a:hover{
background: none;
color: #c1e2d7;
text-shadow: 0 0 1px #333;
}

#directions a:active{
color: #000;
 }

footer{
background: #028894;
clear: right;
overflow: hidden;
background: url(../images/blackboard.jpg);
height: 320px;
font-family: 'Architects Daughter', cursive;
}

h4{
clear: right;
font-size:1em;
color: #fff;
margin: 0;
text-align: left;
float: left;
position: relative;
top: 15px;
margin: 0 5%;
}


#newsletter{
width: 40%;
/*background: #000;*/
margin: 2% auto;
float: right;
font-size: 1.5em;
}

#newsletter div{
margin:1% 0;
}

#newsletter #namenews{
background: rgba(0,0,0,0.1);
border: 2px solid #fff;
width: 54%;
height: 45px;
font-family: 'Architects Daughter', cursive;
font-size:1.25em;
color: #effa3f;
}

#newsletter #emailnews{
background: rgba(0,0,0,0.1);
border: 2px solid #fff;
position : relative;
left: 9px;
width: 54%;
height: 45px;
font-family: 'Architects Daughter', cursive;
font-size:1.25em;
color: #effa3f;
}

#newsletter label{
margin: 0 5%;
color: #fff;
font-family: 'Architects Daughter', cursive;
}

#newsletter input[type=checkbox]{
border: 2px solid #fff;
background: rgba(0,0,0,0.1);
}

#terms input{
border: 2px solid #fff;
background: rgba(0,0,0,0.1);
}

#terms p{
font-size: .8em;
}

#terms a{
display: inline;
font-size: .8em;
color:#6bb2e2;
}

#terms a:hover{
color:#effa3f;
}
#newsletter input[type=submit]{
border:none;
margin: 0 45%;
color: #fff;
font-family: 'Architects Daughter', cursive;
width: 25%;
height: 45px;
font-size: 1em;
border-radius: 45% 45%;
border: 2px solid #fff;
background: rgba(0,0,0,0.1);
}

#newsletter input[type=submit]:hover{
background: rgba(0,0,0,0.8);
border: 4px solid #fff;
}


#admin{
margin: 2%;
}

#admin p{
font-family: 'Architects Daughter', cursive;
font-size: 1.125em;
color: #fff;
text-shadow: none;
}


footer p{
font-family: 'Architects Daughter', cursive;
font-size: 1.125em;
margin: 1%;
}

footer ul{
margin: 0;
width: 82%;
}

footer li{
overflow: hidden;
text-align: center;
list-style-type: none;
margin: 0;
padding:0;
float: right;
}

footer a{
font-family: 'Architects Daughter', cursive;
font-size: 1.25em;
color: #fff;
text-align: center;
}

footer a:hover{
background: none;
color: #6bb2e2;
text-align: center;
}

/* -------
Contact Page
----------*/

#contact{
width: 63.47656%;
/*background: #000;*/
margin: 0 auto;
}

#contact input, select{
font-size: 1.125em;
}

#contact div{
margin:2% 0;
}

label{
font: 1.5em Corbel;
color: #4085b5;
float: left;
}

#full_name{
width: 400px;
height:20px;
margin: 0 0 0 60px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#email{
width: 400px;
height:20px;
margin: 0 0 0 64px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#address{
width: 400px;
height:20px;
margin: 0 0 0 40px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#city{
width: 163px;
height:20px;
margin: 0 0 0 80px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
float: left;
}

#statel{
margin: 0 0 0 10px;
}

#state{
width: 50px;
height:28px;
margin: 0 0 0 10px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
float: left;
}

#zipl{
margin: 0 0 0 10px;
}

#zip{
width: 58px;
height:20px;
margin: 0 0 0 10px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#phone{
width: 400px;
height:20px;
margin: 0 0 0 56px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#comments{
width: 400px;
margin: 0 0 10px 11px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

button{
clear: both;
margin:0 auto;
width: 80px;
height: 50px;
border-radius: 10px;
background: -moz-linear-gradient(#028894, #c1e2d7 50%,  #028894);
border: 1px solid #71dbb8;
box-shadow: 0px 1px 1px #fff,
0px 2px 1px #fff,
0px 3px 1px #fff,
0px 4px 2px 1px #000;
font: 1.5em Corbel;
color:#333;
}

button:hover{
background: -moz-linear-gradient(#28a9b5, #c1e2d7 50%,  #28a9b5);
border: 1px solid #71dbb8;
box-shadow: 0px 1px 1px #fff,
0px 2px 1px #fff,
0px 3px 1px #fff,
0px 4px 2px 1px #000;
font: 1.5em Corbel;
color:#333;
}

button:active{
background: -moz-linear-gradient(#028894, #c1e2d7 50%,  #028894);
border: 1px solid #71dbb8;
box-shadow: 
0px 1px 1px 1px #000;
font: 1.5em Corbel;
color:#333;
}

/*--------------
Parent Page
--------------*/
#parent{
overflow: hidden;
margin: 0 auto;
}

#classroom{
width: 100%;

}

#classroom a{
display: block;
}

#classroom li{
width: 21.5%;
margin: 2% 1.5%; 
height: 150px;
list-style-type: none;

}

#prek{
background: url(../images/prek.jpg);
}

#kindergarden{
background: url(../images/kindergarden.jpg);
}

#fst{
background: url(../images/fstgrade.jpg);
}

#snd{
background: url(../images/2ndgrade.jpg);
}

#trd{
background: url(../images/3rdgrade.jpg);
}

#fth{
background: url(../images/4thgrade.jpg);
}

#fith{
background: url(../images/5thgrade.jpg);
}

#art{
background: url(../images/art.jpg);
}

/*firefox*/
@-moz-keyframes ticker
{
0% {opacity: 1; right: -700px;}
80% {opacity: 1; right: 0px;}
100% {opacity: 0; right: 0px;}
}

/*safari chrome*/
@-webkit-keyframes ticker
{
0% {opacity: 1; left: 1000px;}
80% {opacity: 1; left: 0px;}
100% {opacity: 0; left: 0px;}
}

/*firefox*/
@-moz-keyframes logomove
{
0% {opacity: 0; left: -200px;}
100% {opacity: 1; left: 0px;}
}

/*safari chrome*/
@-webkit-keyframes logomove
{
0% {opacity: 0; left: -200px;}
100% {opacity: 1; left: 0px;}
}

@font-face
{
font-family: myFirstFont;
src: url("Chalkduster.ttf");
}