/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* 
Colors
#3d5ff4 Dark blue
#028894 light blue
#727a8c grey
#c1e2d7 light green
#71dbb8 dark green
*/ 

body{
font-family: "Baskerville", Baskerville Old Face, Georgia, serif;
max-width: 1024px;
height: 100%;
margin :0 auto;
background: -moz-linear-gradient(#028894, #c1e2d7) repeat;
}

header{
background:#aaa;
overflow: hidden;
background:url(../images/header_bg.jpg);
background-size: cover;
}

#ticker{
background:rgba(144, 122, 140, 0.5); /*#727a8c;*/
}

h1{
font-size: 2.8125em;
color: #fff;
text-shadow: 0 1px 2px #333;
padding: 0.9765625% 9.765625%;/* 10px 100px */
}

h5{
font-size: 1em;
color: #fff;
text-shadow: 0 1px 2px #333;
padding: .2929688%;/* 3px */
Text-align: center;
/*firefox*/
-moz-animation: ticker 4s infinite;
-moz-animation-delay: 1s;
/*safari chrome*/
-webkit-animation: ticker 4s infinite;
-webkit-animation-delay: 1s;
}

h6{
font: 1.125em Corbel, Arial;
color: #fff;
text-shadow: 0 1px 2px #333;
padding: 0 17.089438% .2929688%;/* 100px */
}

#search{
float: right;
padding: 1.953125%.9765625%;/* 10px */
}

nav{
background:rgba(193, 226, 215, 0.8); /*#c4ecb2;*/
overflow: hidden;
}

ul{
width:75%;
margin: 0 auto;
}

li{
width: 16.66666667%;
float: left;
}

a{
font: 1.25em Corbel, Arial;
color: #028894;
text-shadow: 0 0 2px #eee;
text-decoration: none;
text-align: center;
display: block;
}

a:hover{
background: rgba(2, 136,148, 0.8); /*#028894;*/
color: #c1e2d7;
}

a:active{
 background: rgba(0, 0, 0, 0.3);
 }
 
 .clearfix{
clear: left;
}

/*
-----------------Main Content---------------*/

#main{
padding: 2% 0;
/*background-image: url(../images/water_texture.jpg);*/
}

#logo{
position: relative;
-moz-animation: logomove 5s;
float: left;

}

#llogo:hover{
background: none;
}

h2{
font-size: 2.1875em;
text-align: center;
color: #c1e2d7;
padding: 0.9765625% 9.765625%;/* 10px 100px */
text-shadow: 0px 1px 1px #333;
}

p{
font-size: 1.875em;
margin-bottom: 0.9765625%;
padding: 0 0.9765625%;
color: #fff;
text-shadow: 0 1px 2px #000;
}

#principal{
clear: left
}

.principals{
list-style-type: none;
width: 50%;
text-align: center;
font: 1em Corbel, Arial;
color: #fff;
text-shadow: 0 1px 1px #333;
float: left;
padding:.9765625% 0 0 0;
}

#secondary{
clear: left;
/*overflow: hidden;*/
padding: 1% 0;
}

h3{
font-size:2em;
}

#history{
width: 33.333333%;
height: 390px;
float: left;
background: -moz-linear-gradient(rgba(193, 226, 215, 0.5), rgba(225, 225, 225, 0.5));
/*padding:.15% 0;*/
text-align: center;
}

#history h3{
background: #28b3bf;
box-shadow: 0 1px 2px #333;
text-shadow: 0 0 2px #eee;
padding: 1% 0;
} 

#history p{
text-align: left;
font: 1em Corbel;
padding: 2%;
color: #000;
text-shadow: 0 0 1px #eee;
}

#facts{
width: 33.333333%;
height: 390px;
float: left;
background: -moz-linear-gradient(rgba(113, 219, 189, 0.5), rgba(225, 225, 225, 0.5));
text-align: center;
}

#facts h3{
background: #c1e2d7;
box-shadow: 0 1px 2px #333;
text-shadow: 0 0 2px #eee;
padding: 1% 0;
} 

table{
margin: 1.3020833% auto;
font: 1em Corbel; 
text-shadow: 0 0 1px #eee;
}

td{
text-align: left;
padding: 1% 8%;
}

#directions{
width: 33.333333%;
height: 390px;
background: -moz-linear-gradient(rgba(40, 179, 191, 0.5), rgba(225, 225, 225, 0.5));
float: right;
text-align: center;
}

#directions h3{
background: #71dbb8;
box-shadow: 0 1px 2px #333;
text-shadow: 0 0 2px #eee;
padding: 1% 0;
} 

#directions p{
font:1em Corbel;
padding: 2%;
text-align: left;
color: #000;
text-shadow: 0 0 1px #eee;
/*padding: 1.5% 0;*/
}

#directions a{
color: #fff;
text-shadow: 0 0 1px #333;
}

#directions a:hover{
background: none;
color: #c1e2d7;
text-shadow: 0 0 1px #333;
}

#directions a:active{
color: #000;
 }

footer{
background: #028894;
clear: right;
overflow: hidden;
}

h4{
font-size:1em;
color: #c1e2d7;
text-align: left;
float: left;
}

#footli{
}

.footlinks{
text-align: center;
list-style-type: none;
margin: 0;
padding:0;
float: right;
}

.footlinks a{
color: #c1e2d7;
text-align: center;
}

.footlinks a:hover{
background: rgba(193, 226, 215, 0.8);
color: #028894;
text-align: center;
}

#contact{
width: 63.47656%;
/*background: #000;*/
margin: 0 auto;
}

#contact div{
margin:2% 0;
}

label{
font: 1.5em Corbel;
color: #fff;
float: left;
}

#full_name{
width: 400px;
height:20px;
margin: 0 0 0 60px;
}

#email{
width: 400px;
height:20px;
margin: 0 0 0 64px;
}

#address{
width: 400px;
height:20px;
margin: 0 0 0 40px;
}

#city{
width: 183px;
height:20px;
margin: 0 0 0 80px;
float: left;
}

#statel{
margin: 0 0 0 10px;
}

#state{
width: 20px;
height:20px;
margin: 0 0 0 10px;
float: left;
}

#zipl{
margin: 0 0 0 10px;
}

#zip{
width: 58px;
height:20px;
margin: 0 0 0 10px;
}

#phone{
width: 400px;
height:20px;
margin: 0 0 0 56px;
}

#comments{
width: 400px;
margin: 0 0 10px 11px;
}

button{
clear: both;
margin:0 auto;
width: 80px;
height: 50px;
border-radius: 10px;
background: -moz-linear-gradient(#028894, #c1e2d7 50%,  #028894);
border: 1px solid #71dbb8;
box-shadow: 0px 1px 1px #fff,
0px 2px 1px #fff,
0px 3px 1px #fff,
0px 4px 2px 1px #000;
font: 1.5em Corbel;
color:#333;
}

button:hover{
background: -moz-linear-gradient(#28a9b5, #c1e2d7 50%,  #28a9b5);
border: 1px solid #71dbb8;
box-shadow: 0px 1px 1px #fff,
0px 2px 1px #fff,
0px 3px 1px #fff,
0px 4px 2px 1px #000;
font: 1.5em Corbel;
color:#333;
}

button:active{
background: -moz-linear-gradient(#028894, #c1e2d7 50%,  #028894);
border: 1px solid #71dbb8;
box-shadow: 
0px 1px 1px 1px #000;
font: 1.5em Corbel;
color:#333;
}

/*firefox*/
@-moz-keyframes ticker
{
0% {color: #fff;}
50% {color: #fffcb5;}
100% {color: #fff;}
}

/*safari chrome*/
@-webkit-keyframes ticker
{
0% {color: #fff;}
50% {color: #fffcb5;}
100% {color: #fff;}
}

/*firefox*/
@-moz-keyframes logomove
{
0% {opacity: 0; left: -200px;}
100% {opacity: 1; left: 0px;}
}

/*safari chrome*/
@-webkit-keyframes logomove
{
0% {opacity: 0; left: -200px;}
100% {opacity: 1; left: 0px;}
}