/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* 
Colors
#3d5ff4 Dark blue
#028894 light blue
#727a8c grey
#c1e2d7 light green
#71dbb8 dark green
*/ 

body{
font-family: "Baskerville", Baskerville Old Face, Georgia, serif;
max-width: 1500px;
height: 100%;
margin :0 auto;
background: #d0e6fc;
background: -moz-radial-gradient(50% 85%, farthest-corner, #d0e6fc, #b1d7f5);
background: -webkit-radial-gradient(50% 85%, farthest-corner, #d0e6fc, #b1d7f5);
background: -mms-radial-gradient(50% 85%, farthest-corner, #d0e6fc, #b1d7f5);
background: -o-radial-gradient(50% 85%, farthest-corner, #d0e6fc, #b1d7f5);
}

header{
max-width: 100%;
height: 138px;
overflow: hidden;
background:url(../images/hdrbg.jpg);
background-size: 100% 100%;
margin:0 auto;
}

#ticker{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#204f95', endColorstr='#63a0c0'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#204f95', endColorstr='#63a0c0')"; /* IE8+ */

background:-moz-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1)); 
background:-webkit-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));
background:-ms-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));/* IE10*/
background:-o-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));
height: 40px;
overflow: hidden;
}

h1{
/*font: 4.5em normal Baskerville;
margin:0 auto;
line-height: 138px;
text-align: center;
position: relative;
color: #005d9e;
text-shadow: 0px 0px 1px #fff,
1px 1px 1px #fff,
 -1px -1px 1px #fff,
 0px 1px 1px #fff,
 0px -1px 1px #fff,
 1px 0px 1px #fff,
 -1px 0px 1px #fff,
 3px 1px 2px #000;*/
}

h5{
line-height: 40px;
width: 50%;
font: 1.875em Corbel;
color: #fff;
text-shadow: 0 1px 2px #333;
display: block;
position: relative;
float: left;
/*firefox*/
-moz-animation: ticker 15s ease-in-out infinite;
-moz-animation-delay: 1s;
/*safari chrome*/
-webkit-animation: ticker 15s ease-in-out infinite;
-webkit-animation-delay: 1s;
}

#search{
float: right;
padding: .333333%; /*5px */
font: 1.25em Corbel;
}

#search input{
padding: 0;
margin: 0;
-webkit-appearance: none;
color: #aaa;
height: 25px;
/**/
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border: none;
background:/* url(../images/search.png);*/ rgba(0, 0, 0, .3);
box-shadow: inset 1px 1px 1px #333;
}

#search input:focus{
background: rgba(0, 0, 0, .6);
}

#search input[type=submit]{
width: 30px;
margin: 0;
padding: 0;
border: 0px;
color: #000;
height: 24px;
/**/
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
background: /*url(../images/submit.gif);*/ url(../images/mglass.png) center no-repeat, rgba(255, 255, 255, .8);
position: relative;
right: 4px;

}

#search input[type=submit]:hover{
background: url(../images/mglass.png) center no-repeat, rgba(255, 255, 255, .6);
}

nav{
height: 40px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#204f95', endColorstr='#63a0c0'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#204f95', endColorstr='#63a0c0')"; /* IE8+ */
background:-moz-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));
background:-webkit-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));
background:-ms-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));
background:-o-linear-gradient(rgba(32,79,149,1), rgba(99,160,192,1));
overflow: hidden;
}

ul{
width:75%;
margin: 0 auto;
padding: 0;
overflow: hidden;
}

li{
width: 16.666667%;
float: left;
}

/* color links
#home{
background:-moz-linear-gradient(rgba(212,119,120,1), rgba(192,89,90,1));
border-top-left-radius: 10px;
box-shadow: 1px 0 3px #333;
}

#parents{
background:-moz-linear-gradient(rgba(229,189,138,1), rgba(216,171,114,1));
}

#staff{
background:-moz-linear-gradient(rgba(117,94,58,1), rgba(100,76,39,1));
}

#students{
background:-moz-linear-gradient(rgba(197,216,169,1), rgba(178,201,145,1));
}

#news{
background:-moz-linear-gradient(rgba(111,164,211,1), rgba(86,142,191,1));
}

#policies{
background:-moz-linear-gradient(rgba(253,247,201,1), rgba(254,244,168,1));
border-top-right-radius: 10px;
}
*/

a{
font: 1.25em bold Corbel, Arial;
line-height: 40px;
color: #fff;
text-shadow: 0px -1px 1px #333,
-2px -1px 1px #333;
text-decoration: none;
text-align: center;
display: block;
}

a:hover{
background: rgba(0,0,0,.1); /*#028894;*/
color: #fff;
}

a:active{
 background: rgba(0, 0, 0, 0.3);
 }
 
.current{
background: #d8ab72;
}
 
 .clearfix{
clear: both;
}

/*
-----------------Main Content---------------*/

#content{
max-width: 1000px;
margin: 0 auto;
}

#generic{
height: 600px;
}

.sles{
margin: 1.8% auto;
width: 59.133333%;
height: 65%;/*95px;*/
background: url(../images/sle.png) no-repeat;
background-size: 100% 100%;
text-indent: -9999px;
}

#main{
padding: 2% 0;
/*background-image: url(../images/manatees.jpg);*/
}

#homelogo{
margin: 0 auto;
padding: 0 2.5%;
position: relative;
/*-moz-animation: logomove 5s;*/
}

#logo{
clear: both;
width: 20%;
height: 150px;
margin: 1%;
padding: 0;
position:relative;

float: left;
}

#logo a{

}

#logo a:hover{
background: none;
}

#girl1, #girl3{
width: 19%;
}

#girl2, #boy{
width: 19%;
}

h2{
margin: 5%;
font-size: 2.5em;
text-align: center;
color: #4085b5; /*rgba(32,79,149,1);*/
padding: 1% 9.765625%;/* 10px 100px */
text-shadow: -1px -1px 2px #eee;
display: block;
}

p{
font: 1.875em Corbel;
margin-bottom: 0.9765625%;
padding: 0 0.9765625%;
color: #333;
}

#secondary{
height: 100%;
clear: left;

padding: 1% 0;
}

h3{
color: #fff;
font-size:2em;
text-align: center;
padding: 2% 0;
}

#facts h3{
margin: 0 2%;
background: #c15a5b;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#facts{
width: 33.333333%;
height: 390px;
float: left;
text-align: center;
}

#history{
width: 33.333333%;
height: 400px;
float: left;
/*padding:.15% 0;*/
text-align: center;
}

#history h3{
margin: 0 2%;
background: #568ebf;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#history p{
text-align: left;
font: 1em Corbel;
margin: 2%;
padding: 2%;
color: #000;
text-shadow: 0 0 1px #eee;
}

table{
margin: 4%;
font: 1em Corbel; 
text-shadow: 0 0 1px #eee;
}

td{
border-bottom: 1px solid #4085b5;
text-align: left;
padding: 1% 8%;
}

#directions{
width: 33.333333%;
height: 390px;
float: right;
text-align: center;
}

#directions h3{
margin: 0 2%;
background: #d8ab72;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}
 
iframe{
margin: 5% 0;
}
 
#directions p{
font:1em Corbel;
padding: 0;
margin: 0 2%;
text-align: left;
color: #000;
text-shadow: 0 0 1px #eee;
/*padding: 1.5% 0;*/
}

#directions a{
color: #4085b5;
text-shadow: 0 0 1px #333;
font-size: 1.5em;
margin: 0;
padding: 0;
}

#directions a:hover{
background: none;
color: #fff;
text-shadow: 0 0 1px #333;
}

#directions a:active{
color: #000;
 }

/*---------------------------------------------------------
Main Footer
---------------------------------------------------------*/

footer{
background: #028894;
clear: right;
overflow: hidden;
background: url(../images/blackboard.jpg);
background-size: 100% 100%;
height: 320px;
font-family: 'Architects Daughter', cursive;
margin: 5% 0;
}

#newsletter p{
color: #fff;
font-size: 1em;
text-align: center;
}

h4{
clear: right;
font-size:1em;
color: #fff;
margin: 0;
text-align: left;
float: left;
position: relative;
top: 15px;
margin: 0 5%;
}


#newsletter{
width: 40%;
/*background: #000;*/
margin: .5% auto;
float: right;
font-size: 1.5em;
}

#newsletter div{
margin:1% 0;
}

#newsletter #namenews{
background: rgba(0,0,0,0.1);
border: 2px solid #fff;
width: 54%;
height: 45px;
font-family: 'Architects Daughter', Corbel;
font-size:1.25em;
color: #effa3f;
}

#newsletter #emailnews{
background: rgba(0,0,0,0.1);
border: 2px solid #fff;
position : relative;
left: 9px;
width: 54%;
height: 45px;
font-family: 'Architects Daughter', cursive;
font-size:1.25em;
color: #effa3f;
}

#newsletter label{
margin: 0 5%;
color: #fff;
font-family: 'Architects Daughter', Corbel;
}

#newsletter input[type=checkbox]{
border: 2px solid #fff;
background: rgba(0,0,0,0.1);
}

#terms input{
border: 2px solid #fff;
background: rgba(0,0,0,0.1);
}

#terms p{
font-size: .8em;
color: #fff;
}

#terms a{
display: inline;
font-size: .8em;
color:#6bb2e2;
}

#terms a:hover{
color:#effa3f;
}
#newsletter input[type=submit]{
border:none;
margin: 0 45%;
color: #fff;
font-family: 'Architects Daughter', Corbel;
width: 25%;
height: 45px;
font-size: 1em;
border-radius: 45% 45%;
border: 2px solid #fff;
background: rgba(0,0,0,0.1);
}

#newsletter input[type=submit]:hover{
background: rgba(0,0,0,0.8);
border: 4px solid #fff;
}


#admin{
margin: 2%;
}

#admin p{
font-family: 'Architects Daughter', Corbel;
font-size: 1.125em;
color: #fff;
text-shadow: none;
}


footer p{
font-family: 'Architects Daughter', Corbel;
font-size: 1.125em;
margin: 1%;
}

footer ul{
margin: 0;
width: 82%;
}

footer li{
overflow: hidden;
text-align: center;
list-style-type: none;
margin: 0;
padding:0;
float: right;
}

footer a{
font-family: 'Architects Daughter', arial;
font-size: 1.25em;
color: #fff;
text-align: center;
}

footer a:hover{
background: none;
color: #6bb2e2;
text-align: center;
}

/* -----------------------------------------------------------------
Contact Page
--------------------------------------------------------------------*/
#contactcontent{
max-width: 1000px;
margin: 0 auto;
}

#contactcontent section p{
color: #4085b5;
text-align: center;
margin: 2%;
}

#contact{
width: 63.47656%;
/*background: #000;*/
margin: 5% auto;
}

#contact input, select{
font-size: 1.125em;
}

#contact div{
margin:2% 0;
}

label{
font: 1.5em Corbel;
color: #4085b5;
float: left;
}

#full_name{
width: 400px;
height:20px;
margin: 0 0 0 60px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#email{
width: 400px;
height:20px;
margin: 0 0 0 64px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#address{
width: 400px;
height:20px;
margin: 0 0 0 40px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#city{
width: 163px;
height:20px;
margin: 0 0 0 80px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
float: left;
}

#statel{
margin: 0 0 0 10px;
}

#state{
width: 50px;
height:28px;
margin: 0 0 0 10px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
float: left;
}

#zipl{
margin: 0 0 0 10px;
}

#zip{
width: 58px;
height:20px;
margin: 0 0 0 10px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#phone{
width: 400px;
height:20px;
margin: 0 0 0 56px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

#comments{
width: 400px;
margin: 0 0 10px 11px;
border-radius: 5px;
border-left: 1px solid #3b86b8;
border-top: 1px solid #3b86b8;
border-right: 2px solid #8ccaf4;
border-bottom: 2px solid #8ccaf4;
box-shadow: inset 1px 1px 1px #3b86b8;
}

button{
clear: both;
position : relative;
left:40%;
margin:0 auto;
width: 25%;
height: 50px;
border-radius: 10px;
background: rgba(28,32,139,1);
background: -moz-linear-gradient(rgba(28,32,139,1), rgba(72,126,183,1) 30% ,  rgba(28,32,139,1));
background:-o-linear-gradient(rgba(28,32,139,1), rgba(72,126,183,1) 30% ,  rgba(28,32,139,1));
background: -ms-linear-gradient(rgba(28,32,139,1), rgba(72,126,183,1) 30% ,  rgba(28,32,139,1));
background: -webkit-linear-gradient(rgba(28,32,139,1), rgba(72,126,183,1) 30% ,  rgba(28,32,139,1));
box-shadow: 0px 1px 1px #fff,
0px 2px 1px #fff,
0px 4px 2px 1px #000;
font: 2em Corbel;
color:#fff;
}

button:hover{
background: rgba(8,12,119,1);
background:-moz-linear-gradient(rgba(8,12,119,1), rgba(52,106,163,1) 30% ,  rgba(8,12,119,1));
background:-ms-linear-gradient(rgba(8,12,119,1), rgba(52,106,163,1) 30% ,  rgba(8,12,119,1));
background:-o-linear-gradient(rgba(8,12,119,1), rgba(52,106,163,1) 30% ,  rgba(8,12,119,1));
background:-webkit-linear-gradient(rgba(8,12,119,1), rgba(52,106,163,1) 30% ,  rgba(8,12,119,1));

box-shadow: 0px 1px 1px #fff,
0px 2px 1px #fff,
0px 4px 2px 1px #000;
}

button:active{
background: -moz-linear-gradient(rgba(8,12,119,.7), rgba(52,106,163,.7) 30% ,  rgba(8,12,119,.7));
background: -ms-linear-gradient(rgba(8,12,119,.7), rgba(52,106,163,.7) 30% ,  rgba(8,12,119,.7));
background: -o-linear-gradient(rgba(8,12,119,.7), rgba(52,106,163,.7) 30% ,  rgba(8,12,119,.7));
background: -webkit-linear-gradient(rgba(8,12,119,.7), rgba(52,106,163,.7) 30% ,  rgba(8,12,119,.7));
box-shadow: 
0px 1px 1px 1px #000;
}

/*--------------------------------------------------------------------
Parent Page
--------------------------------------------------------------------*/
#parent{
overflow: hidden;
margin: 0 auto;
}

#classroom{
width: 100%;
margin:0 auto;
}

#classroom a{
line-height: 220px;
display: block;
height: 130px;
border: 5px solid #fff;
border-radius: 10px;
box-shadow: 1px 1px 5px #444;
}

#classroom a:hover{
opacity: .7;
font-size: 1.75em;
}

#classroom li{
width: 20%;
margin: 2%; 
height: 120px;
list-style-type: none;

}

#prek a{
background:  url(../images/prek.jpg);
}

#kindergarden a{
background: url(../images/kindergarden.jpg);
}

#fst a{
background: url(../images/fstgrade.jpg);
}

#snd a{
background: url(../images/2ndgrade.jpg);
}

#trd a{
background: url(../images/3rdgrade.jpg);
}

#fth a{
background: url(../images/4thgrade.jpg);
}

#fith a{
background: url(../images/5thgrade.jpg);
}

#art a{
background: url(../images/art.jpg);
}

#parentcontent div{
width: 30%;
margin: 0 auto;
padding: 1.625%;
float:left;
overflow: hidden;
}

#parentcontent{
margin:0 auto;
}

#parentcontent{
margin:2% auto;
}

#uniforms h3{
background: #c15a5b;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#uniforms p{
margin:4% auto;
font-size: 1.25em;
}

#uniforms a{
margin:0 auto;
width: 50%;
background:#c15a5b;
background: -moz-linear-gradient(rgba(193,90,91,1),  rgba(242,175,175,1) 30%,  rgba(193,90,91,1) 80%);
background: -ms-linear-gradient(rgba(193,90,91,1),  rgba(242,175,175,1) 30%,  rgba(193,90,91,1) 80%);
background: -o-linear-gradient(rgba(193,90,91,1),  rgba(242,175,175,1) 30%,  rgba(193,90,91,1) 80%);
background: -webkit-linear-gradient(rgba(193,90,91,1),  rgba(242,175,175,1) 30%,  rgba(193,90,91,1) 80%);
box-shadow: 1px 1px 1px #333;
border-radius: 10px;
font-size: 1.5em;
}

#uniforms a:hover{
background:#b64849;
background: -moz-linear-gradient(rgba(153,50,51,1),  rgba(242,175,175,1) 30%,  rgba(153,50,51,1) 80%);
background: -ms-linear-gradient(rgba(153,50,51,1),  rgba(242,175,175,1) 30%,  rgba(153,50,51,1) 80%);
background: -o-linear-gradient(rgba(153,50,51,1),  rgba(242,175,175,1) 30%,  rgba(153,50,51,1) 80%);
background: -webkit-linear-gradient(rgba(153,50,51,1),  rgba(242,175,175,1) 30%,  rgba(153,50,51,1) 80%);
}

#lunch h3{
background: #568ebf;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#lunch p{
margin:4% auto;
font-size: 1.25em;
}

#lunch a{
margin:0 auto;
width: 50%;
background:#568ebf;
background: -moz-linear-gradient(rgba(86,142,191,1),  rgba(191,220,245,1) 30%,  rgba(86,142,191,1) 80%);
background: -ms-linear-gradient(rgba(86,142,191,1),  rgba(191,220,245,1) 30%,  rgba(86,142,191,1) 80%);
background: -o-linear-gradient(rgba(86,142,191,1),  rgba(191,220,245,1) 30%,  rgba(86,142,191,1) 80%);
background: -webkit-linear-gradient(rgba(86,142,191,1),  rgba(191,220,245,1) 30%,  rgba(86,142,191,1) 80%);
box-shadow: 1px 1px 1px #333;
border-radius: 10px;
font-size: 1.5em;
}

#lunch a:hover{
background:#3675ac;
background: -moz-linear-gradient(rgba(46,102,151,1),  rgba(191,220,245,1) 30%,  rgba(46,102,151,1) 80%);
background: -ms-linear-gradient(rgba(46,102,151,1),  rgba(191,220,245,1) 30%,  rgba(46,102,151,1) 80%);
background: -o-linear-gradient(rgba(46,102,151,1),  rgba(191,220,245,1) 30%,  rgba(46,102,151,1) 80%);
background: -webkit-linear-gradient(rgba(46,102,151,1),  rgba(191,220,245,1) 30%,  rgba(46,102,151,1) 80%);
}

#pta h3{
background: #d8ab72;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#pta p{
margin:4% auto;
font-size: 1.25em;
}

#pta a{
margin:0 auto;
width: 50%;
background:#d9ac74;
background: -moz-linear-gradient(rgba(216,171,114,1),  rgba(246,224,196,1) 30%,  rgba(216,171,112,1) 80%);
background: -ms-linear-gradient(rgba(216,171,114,1),  rgba(246,224,196,1) 30%,  rgba(216,171,112,1) 80%);
background: -o-linear-gradient(rgba(216,171,114,1),  rgba(246,224,196,1) 30%,  rgba(216,171,112,1) 80%);
background: -webkit-linear-gradient(rgba(216,171,114,1),  rgba(246,224,196,1) 30%,  rgba(216,171,112,1) 80%);
box-shadow: 1px 1px 1px #333;
border-radius: 10px;
font-size: 1.5em;
}

#pta a:hover{
background:#cd9a5b;
background: -moz-linear-gradient(rgba(186,131,72,1),  rgba(246,224,196,1) 30%,  rgba(186,131,72,1) 80%);
background: -ms-linear-gradient(rgba(186,131,72,1),  rgba(246,224,196,1) 30%,  rgba(186,131,72,1) 80%);
background: -o-linear-gradient(rgba(186,131,72,1),  rgba(246,224,196,1) 30%,  rgba(186,131,72,1) 80%);
background: -webkit-linear-gradient(rgba(186,131,72,1),  rgba(246,224,196,1) 30%,  rgba(186,131,72,1) 80%);
}

/* STAFF
----------------------------------------------------*/
#admins {
width: 30%;
margin: 1% auto;
padding: 0;
position:relative;
top: 10px;
float: left;
}

#admins h3{
width: 90%;
margin: 5% auto;
background: #c15a5b;
text-shadow: -1px -1px 1px #333;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#admins p{
font: 1.7em Corbel;
color: #333;
text-align: center;
width: 90%;
margin: 0 auto;
padding: 1%;
}

#admins img{
width: 80%;
margin: 0 auto;
padding: 5% 10% 2%;
}

#llogo:hover{
background: none;
}

#directory{
padding: 10% 0;
margin: 10% auto;
width: 70%;
height: 130px;
background: #4085b5;
color: #fff;
box-shadow: 1px 1px 4px #333;
text-shadow: 1px 1px 3px #333;
font: 3em bold Baskerville;
}

#directory:hover{
opacity: .8;
}

#staffcontent{
float: right;
width: 70%;
margin: 5% auto;
}

#staffcontent h2{
clear: both;
margin: 5% auto 2%;
padding:0;
width: 90%;
text-align: center;
}

#staffcontent p{
width: 90%;
font: 1.6em Corbel;
margin: 2% auto;
}

#staff_spotlight h2{
margin: 0 auto;
background: #d8ab72;
color: #fff;
padding: 1% 0;
text-shadow: -1px -1px 1px #333;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#staff_spotlight img{
height:190px;
}

#alison{
margin:2% auto;
width: 40%;
float: left;
}

#alison img{
margin: 0 auto;
position: relative;
left: 27.5%;
}

#meg{
margin:2% auto;
width: 40%;
float: right;
}

#meg img{
margin: 0 auto;
position: relative;
left: 28.5%;
}

#alison p{
text-align: center;
color: #488bb9;
margin: 0;
}

#meg p{
text-align: center;
color: #488bb9;
margin: 0;
}

#staff_spotlight h4{
width: 90%;
font: 2em Corbel;
color: #488bb9;
text-align: center;
}

#staff_spotlight ul{
width:80%;
margin: 10% auto;
}

#staff_spotlight li{
width: 50%;
list-style-type: none;
float:left;
}

#staff_spotlight a{
text-align: left;
color: #488bb9;
text-shadow: 1px 1px 1px #fff;
}

#staff_spotlight a:hover{
text-align: left;
color: #fff;
text-shadow: 1px 1px 1px #333;
background: none;
}



/*-------------------------------------------------
Students
-------------------------------------------------*/
#kids_zone h2{
position: relative;
top: 40px;
}

#kidlinks ul{
clear: both;
width:100%;
margin: 0 auto;
}

.orange, .red, .blue, .yellow{
float:left;
list-style-type: none;
}

.orange, .blue{
width: 33.333333%;

}

.yellow, .red{
width: 25%;
}

.orange a{
background: #daa65d;
margin:2%;
box-shadow: 1px 1px 3px #333;
line-height: 100px;
display: block;
height: 100px;
}

.red a{
background: #da5f59;
margin: 3% 2%;
box-shadow: 1px 1px 3px #333;
line-height: 100px;
display: block;
height: 100px;
}

.yellow a{
background: #cac337;
margin: 3% 2%;
box-shadow: 1px 1px 3px #333;
line-height: 100px;
display: block;
height: 100px;
}

.blue a{
background: #3c718d;
margin: 2%;
line-height: 100px;
display: block;
height: 100px;
}

/*---------------------------------------------
News
---------------------------------------------*/
#manateenews h2{
position: relative;
top: 50px;
}

#events h3{
padding: .5% 0;
width: 100%;
background: #c15a5b;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#events table{
font: 1.5em Corbel;
width: 95%;
margin: 0 auto;
}

#events td{
font: 1em Corbel;
width: 10%;
padding: .5% 2.5%;
}

#npolicies, #registration, #newsletters{
width: 33.333333%;
margin: 5% 0;
padding: 0;
float: left;
}

#npolicies h3{
width: 95%;
background: #568ebf;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#npolicies p{
margin: 5% auto;
width: 85%;
font: 1.3em Corbel;
}

#npolicies li{
margin: 5% 0;
width: 90%;
float: none;
list-style-type: none;
}

#npolicies a{
text-align: left;
font: 1.3em Corbel;
color: #568ebf;
text-shadow: 1px 1px 1px #fff;
}

#npolicies a:hover{
color: #fff;
text-shadow: 1px 1px 1px #333;
}

#registration h3{
width: 95%;
background: #c15a5b;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #fff;
text-shadow: -1px -1px 1px #333;
}

#registration p{
margin: 5% auto;
width: 85%;
font: 1.4em Corbel;
}

.more{
display: inline;
font: 1em Corbel;
color: #568ebf;
text-shadow: 1px 1px 1px #fff;
}

#newsletters h3{
width: 95%;
background: #d8ab72;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-shadow: -1px -1px 1px #333;
}

#newsletters li{
margin: 5% 0;
width: 90%;
float: none;
list-style-type: none;
}

#newsletters a{
margin: 5% 0;
text-align: left;
font: 1.2em Corbel;
color: #568ebf;
text-shadow: 1px 1px 1px #fff;
}

#newsletters p{
margin: 5% auto;
width: 90%;
font: 1.1em Corbel;
}

/*firefox*/
@-moz-keyframes ticker
{
0% {opacity: 1; right: -700px;}
80% {opacity: 1; right: 0px;}
100% {opacity: 0; right: 0px;}
}

/*safari chrome*/
@-webkit-keyframes ticker
{
0% {opacity: 1; right: -700px;}
80% {opacity: 1; right: 0px;}
100% {opacity: 0; right: 0px;}
}


/* ========================================================================= */
/* Media Queries 
Tablet Portrait size to standard 1200 (devices and browsers) */

@media screen and (min-width: 959px) and (max-width:1200px){
	/*body{
	background: #aaa;
	}	*/	
	.sles{
width: 70%;
}
@-moz-keyframes ticker
	{
	0% {opacity: 1; right: -350px;}
	80% {opacity: 1; right: 0px;}
	100% {opacity: 0; right: 0px;}
	}	
}

/* Media Queries 
Tablet Portrait size to standard 960 (devices and browsers) */

@media screen and (min-width: 768px) and (max-width:959px){
	/*body{
	background: #000;
	}	*/	
	
	h5{
	font: 1.5em Corbel;
	line-height: 40px;
	}
	
	.sles{
width: 75%;
}
	
	#girl1,#girl2,#girl3,#boy{
	display: none;
	}
	
	#homelogo{
	float:left;
	}
	
	#history{
	clear: both;
	width: 95%;
	margin: 0 3%;
	padding:0;
	height: 100%;
	}
	
	
	#facts{
	width: 40%;
	margin: 0 3%;
	padding:0;
	height: 100%;
	}
	
	#directions{
	width: 40%;
	margin: 0 3%;
	padding:0;
	height: 100%;
	}
	
	#newsletter{
	width: 45%;
	}

	#logo img{
	width: 100%;
	}
	
	#contact {
	width:70%;
	}
	/*====================
	staff
	====================*/
	
	#admins {
width: 90%;
margin: 1% auto;
padding: 0;
float: none;
}

#admins h3{
width: 90%;
}

#admins p{
font: 1.7em Corbel;
color: #333;
text-align: center;
width: 90%;
margin: 0 auto;
padding: 1%;
}

#principal{
width: 48%;
float: left;
}

#aprincipal{
width: 45%;
float: left;
position: relative;
top: -32px;
}

#directory{
display: none;
}

#admins img{
width: 80%;
margin: 0 auto;
padding: 5% 10% 2%;
}

#llogo{
display: none;
}

#staffcontent{
float: none;
width: 90%;
margin: 5% auto;
}

#staff_spotlight a{
font: 1.1em Corbel;
}

#staff_spotlight a{
text-align: center;
}


	@-moz-keyframes ticker
	{
	0% {opacity: 1; right: -350px;}
	80% {opacity: 1; right: 0px;}
	100% {opacity: 0; right: 0px;}
	}
}

/* Media Queries 
Mobile Landscape Size to Tablet Portrait 767 (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width:767px){
	/*body{
	background: #444;
	}*/
	
	#contactcontent section p{
	clear: left;
	}	
	
	header{
	background: #cee9fc;
	background: -moz-radial-gradient(50% 5%, farthest-corner, #fff, #cee9fc);
	background: -webkit-radial-gradient(50% 85%, farthest-corner, #fff, #cee9fc);
	background: -mms-radial-gradient(50% 85%, farthest-corner, #fff, #cee9fc);
	background: -o-radial-gradient(50% 85%, farthest-corner, #fff, #cee9fc);
	height: 100%;
	}
	
	h1{
	font-size: 3em;
	line-height: 70px;
	}
	
	.sles{
width: 80%;
}
	
	h5{
	font: 1.25em Corbel;
	line-height: 40px;
	}
	
	nav a{
	font-size: 1em;
	}
	
	#girl1,#girl2,#girl3,#boy{
	display: none;
	}
	
	#homelogo{
	width: 25%;
	float:left;
	padding: 0;
	}
	
	#manatee{
	width: 100%;
	}
	
	h2{
	font-size: 2.5em;
	margin: 5% 0;
	padding: 10% 0;
	}
	
	p{
	margin: 3%;
	font-size: 1.5em;
	}
	
	#history{
	clear: both;
	width: 95%;
	margin: 3%;
	height: 100%;
	}
	
	#facts{
	width: 42%;
	margin: 3%;
	height: 100%;
	}
	
	#directions{
	width: 42%;
	margin: 3%;
	height: 100%;
	}

	#newsletter{
	display: none;
	}
	admin{
	width: 100%;
	}
	
	footer ul{
	width: 95%;
	}
	
	footer li{
	width: 25%;
	}
	
	footer a{
	font-size:1em;
	}
	
	#classroom a{
	margin: 5% 0;
	border: none;
	}
	
	#parentcontent div{
	clear: both;
	width: 95%;
	margin: 1%;
	}
	
	#parent h2{
	margin: 5% 0;
	padding: 0;
	}
	
	#logo{
	display: none;
	}
	
	#logo img{
	width: 100%;
	}
	
	#contact {
	width:95%;
	}
	
	#contact label{
	font-size: 1em;
	}
	
	#full_name{
	width: 340px;
	height:20px;
	margin: 0 0 0 55px;
	}

	#email{
	width: 340px;
	height:20px;
	margin: 0 0 0 58px;
	}

	#address{
	width: 340px;
	height:20px;
	margin: 0 0 0 42px;
	}

	#city{
	width: 340px;
	margin: 0 0 0 69px;
	float: none;
	}

	#statel{
	margin: 0;
	}

	#state{
	width: 50px;
	height:28px;
	margin: 0 0 0 60px;
	float: left;
	}

	#zipl{
	margin: 0 0 0 10px;
	}

	#zip{
	width: 58px;
	height:20px;
	margin: 0 0 0 10px;
	}

	#phone{
	width: 340px;
	height:20px;
	margin: 0 0 0 53px;
	}

	#comments{
	width: 340px;
	margin: 0 0 10px 22px;
	}
	/*===========================
	Staff
	===========================*/
	#admins {
width: 90%;
margin: 1% auto;
padding: 0;
float: none;
}

#admins h3{
width: 90%;
}

#admins p{
font: 1.3em Corbel;
color: #333;
text-align: center;
width: 90%;
margin: 0 auto;
padding: 1%;
}

#principal{
width: 48%;
float: left;
}

#aprincipal{
width: 45%;
float: left;
position: relative;
top: -32px;
}

#directory{
display: none;
}

#admins img{
width: 80%;
margin: 0 auto;
padding: 5% 10% 2%;
}

#llogo{
display: none;
}

#staffcontent{
float: none;
width: 95%;
margin: 5% auto;
}

#staffcontent p{
font: 1.3em Corbel;
}

#staff_spotlight a{
font: 1em Corbel;
}
	#staff_spotlight a{
text-align: center;
}
	
	
	@-moz-keyframes ticker
	{
	0% {opacity: 1;}
	100% {opacity: 0;}
	}
	
}

/* Media Queries 
Mobile Portrait Size to Mobile Landscape Size 497 (devices and browsers) */

@media only screen and (max-width:479px){
	/*body{
	background: #aaa;
	}*/
	
	#ticker{
	height: 80px;
	}
	
	header{
	background: #cee9fc;
	background: -moz-radial-gradient(50% 5%, farthest-corner, #fff, #cee9fc);
	background: -webkit-radial-gradient(50% 85%, farthest-corner, #fff, #cee9fc);
	background: -mms-radial-gradient(50% 85%, farthest-corner, #fff, #cee9fc);
	background: -o-radial-gradient(50% 85%, farthest-corner, #fff, #cee9fc);
	height: 100%;
	}
	
	h1{
	font-size: 3em;
	line-height: 70px;
	}
	
	.sles{
width: 90%;
}
	
	h5{
	font: 1em Corbel;
	line-height: 40px;
	float: none;
	margin:0 auto;
	}
	
	#search{
	width: 60%;
	float: none;
	margin:0 auto;
	padding:0;
	}
	
	nav{
	height: 100%;
	}
	
	nav li{
	width: 33.333333%;
	}
	
	nav a{
	font-size: 1.2em;
	}
	
	#girl1,#girl2,#girl3,#boy{
	display: none;
	}
	
	#homelogo{
	display: none;
	}
	
	h2{
	font-size: 2em;
	}
	
	p{
	margin: 3%;
	font-size: 1.2em;
	}
	
	h3{
	font-size: 1.6em;
	}
	
	#facts{
	clear: both;
	width: 95%;
	margin: 3%;
	}
	
	#history{
	clear: both;
	width: 95%;
	margin: 3%;
	}
	
	#directions{
	width: 95%;
	margin: 3%;
	}
	
	#newsletter{
	display: none;
	}
	
	admin{
	width: 100%;
	}
	
	footer ul{
	width: 95%;
	}
	
	footer li{
	width: 25%;
	}
	
	footer a{
	font-size:1em;
	}
	
	/*Parent Page -----------------------*/
	
	#logo{
	display: none;
	}
	
	#parent{
	height: 100%;
	margin: 5% 0;
	overflow: visible;
	}
	
	#classroom{
	width: 90%;
	height: 100%;
	}
	
	#classroom li{
	width: 45%;
	margin: 4% 2%;
	}
	
	#classroom a{
	margin: 5% 0;
	border: none;
	}

	#parentcontent div{
	clear: both;
	width: 95%;
	margin: 1%;
	}
	
		#contact {
	width:70%;
	position: relative;
	left: -25px;
	}
	
	#contact label{
	font-size: 1em;
	float: none;
	}
	
	#full_name{
	clear:both;
	width: 300px;
	height:20px;
	margin: 0;
	}

	#email{
	width: 300px;
	height:20px;
	margin: 0;
	}

	#address{
	width: 300px;
	height:20px;
	margin: 0;
	}

	#city{
	width: 300px;
	height:20px;
	margin: 0;
	float: none;
	}

	#statel{
	margin: 0;
	}

	#state{
	width: 50px;
	height:28px;
	margin: 0;
	float: none;
	}

	#zipl{
	margin: 0;
	}

	#zip{
	width: 58px;
	height:20px;
	margin: 0 0 0 14px;	
	}

	#phone{
	width: 300px;
	height:20px;
	margin: 0;	
	}

	#comments{
	width: 300px;
	margin: 0;
	}
	
	button{
	width: 35%;
	}
	
	/*====================
	STAFF
	=====================*/
	#admins {
width: 90%;
margin: 1% auto;
padding: 0;
float: none;
}

#admins h3{
width: 90%;
}

#admins p{
font: 1em Corbel;
color: #333;
text-align: center;
width: 90%;
margin: 0 auto;
padding: 1%;
}

#principal{
width: 48%;
float: left;
}

#aprincipal{
width: 45%;
float: left;
position: relative;
top: -32px;
}

#directory{
display: none;
}

#admins img{
width: 80%;
margin: 0 auto;
padding: 5% 10% 2%;
}

#llogo{
display: none;
}

#staffcontent{
float: none;
width: 95%;
margin: 5% auto;
}

#staffcontent p{
font: 1em Corbel;
}

#alison p, #meg p{
display: none;
}

#alison img, #meg img{
display: none;
}

#staff_spotlight h4{
font: 1.2em Corbel;
}

#staff_spotlight ul{
padding: 3% 0;
}

#staff_spotlight li{
float: none;
width: 95%;
}

#staff_spotlight a{
font: .9em Corbel;
}
	
	
	
	@-moz-keyframes ticker
	{
	0% {opacity: 1;}
	100% {opacity: 0;}
	}
	
}